<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
  <div class="header-fields">
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
    </h1>

    <div class="flexrow flex-group-center">
      {{#unless (eq actor.type "demon")}}
      <div class="resource-label">
        {{localize "SMT.actorSheet.charClass" class=(localize (concat "TYPES.Actor." actor.type))}}
      </div>
      {{/unless}}

      {{#if (eq actor.type "demon")}}
      <div class="flexrow">
        <label for="baseLv" class="resource-label">{{localize "SMT.actorSheet.baseLv"}}</label>
        <input type="number" id="baseLv" name="system.baseLv" data-dtype="Number" placeholder="1"
          value="{{system.baseLv}}" />
      </div>

      <div class="flexrow">
        <label for="clan" class="resource-label">{{localize "SMT.actorSheet.clan"}}</label>
        <input type="text" id="clan" name="system.clan" data-dtype="String"
          placeholder="{{localize "SMT.actorSheet.clan"}}" value="{{system.clan}}" />
      </div>
      {{/if}}

      {{#unless system.isNPC}}
      <div class="flexrow">
        <label for="level" class="resource-label">{{localize "SMT.actorSheet.level"}}</label>
        <input type="number" id="level" data-dtype="Number" placeholder="0" value="{{system.lv}}" disabled />
      </div>
      {{else}}
      <div class="flexrow">
        <label for="levelOverride" class="resource-label">{{localize "SMT.actorSheet.level"}}</label>
        <input type="number" id="levelOverride" name="system.levelOverride" data-dtype="Number" placeholder="0"
          value="{{system.levelOverride}}" />
      </div>
      {{/unless}}

      {{#unless system.isNPC}}
      <div class="flexrow">
        <label for="xp-field" class="resource-label">{{localize "SMT.actorSheet.xp"}}</label>
        <input type="number" id="xp-field" name="system.xp" data-dtype="Number" placeholder="0" value="{{system.xp}}" />
      </div>
      {{/unless}}

      <div class="flexrow">
        <label for="macca-field" class="resource-label">{{localize "SMT.actorSheet.macca"}}</label>
        <input type="number" id="macca-field" name="system.macca" data-dtype="Number" placeholder="0"
          value="{{system.macca}}" />
      </div>
    </div>
    {{!-- Resources Pane --}}
    {{> "systems/smt-tc/templates/parts/actor/resources.hbs"}}
  </div>
</header>